*, *:before, *:after {
  box-sizing: inherit;
}

// applies a standardized sizing based on entire element to all members (ie. including margins and paddings in sizings).
.img {
  border: 1px solid #515d70;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/img/ski-travesia-maldetas.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:  #f4f6f8;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.form-container {
  background-color: rgb(175, 193, 207, 0.7);
  display: flex;
  margin-bottom: 6rem;
  margin-left: 2rem;
  border: 1px rgb(81, 93, 112, 0.3) solid 
}

form {
  padding: 0.5rem;
}

@media (max-width:800px){
  .form-container {
    margin: auto;
    margin-bottom: 6rem;
  }
}

@media (max-width:600px){
  .form-container {
    margin: auto;
    margin-bottom: 4rem;
  }
}

mat-form-field {
  display: block;
}

.mat-radio-button {
  margin: 1rem;
}

.other_form_input {
  display: flex;
  flex-direction: column;
  font: 0.85rem arial, sans-serif;
}

.log-table-container {
  height: 100vh;
  padding: 4rem;
}

table {
  width: 100%;
  background-color: #d9e3ec;
}

.icon-decorative-small {
  font-size: small;
  text-align: center;
}

mat-radio-group {
  color: rgb(100, 101, 104);
}

app-star-rating {
  padding: 0.5rem;
  text-align: center;
}



