<div class="form-container">
    <form [formGroup]="logSkiFormGroup" (submit)="submit()">
        <mat-form-field>
            <mat-label>Where</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>
        <mat-form-field>
            <mat-label>When</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Stars</mat-label>
            <input matInput formControlName="rating">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Viz</mat-label>
            <input matInput formControlName="viz">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Snow</mat-label>
            <input matInput formControlName="snowType">
        </mat-form-field>
        <div class="other_input">
            <mat-radio-group class="lesson-radio" formControlName="skiType">
                <mat-label>Type of skiing</mat-label>
                <mat-radio-button value="1">Alpine</mat-radio-button>
                <mat-radio-button value="2">Touring</mat-radio-button>
            </mat-radio-group>
            <mat-radio-group class="lesson-radio" formControlName="lesson">
                <mat-label>Included a lesson?</mat-label>
                <mat-radio-button value="0">No</mat-radio-button>
                <mat-radio-button value="1">Yes</mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary" type="submit">Add</button>
        </div>
    </form>
</div>
<div class="log-table-container">
    <table mat-table matSort matTableResponsive [dataSource]="logsDataSource" class="mat-elevation-z3">
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let log">{{log.location}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let log">{{log.date}}</td>
        </ng-container>
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef>Stars</th>
            <td mat-cell *matCellDef="let log" class="rating">{{log.rating}}<mat-icon class="icon-decorative-small">star</mat-icon></td>
        </ng-container>
        <ng-container matColumnDef="visibility">
            <th mat-header-cell *matHeaderCellDef>Viz</th>
            <td mat-cell *matCellDef="let log">{{log.viz}}</td>
        </ng-container>
        <ng-container matColumnDef="snowType">
            <th mat-header-cell *matHeaderCellDef>Snow Type</th>
            <td mat-cell *matCellDef="let log">{{log.snowType}}</td>
        </ng-container>
        <ng-container matColumnDef="skiType">
            <th mat-header-cell *matHeaderCellDef>Ski Type</th>
            <td mat-cell *matCellDef="let log">{{log.skiType}}</td>
        </ng-container>
        <ng-container matColumnDef="lesson">
            <th mat-header-cell *matHeaderCellDef>Lesson</th>
            <td mat-cell *matCellDef="let log">{{log.lesson}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <tr mat-cell *matCellDef="let log">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </tr>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> 
    </table>
</div>